:global
  html, body
    font-family: '微软雅黑', '宋体', '黑体'
    background-color: #e0e0e0
    ul, li
      margin: 0
      padding: 0
    a
      color: #337ab7
      font-size: 12px
      &:hover
        text-decoration: none
        color: #23527c!important
    table
      font-size: 12px
    .mt-20
      margin-top: 20px
    .ml-20
      margin-left: 20px
    :-webkit-autofill
      transition: background-color 5000s ease-in-out 0s
  body, button, input, select, textarea
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important
@import './antd.styl'