.logo
  height: 64px;
  line-height: 64px;
  position: relative;
  background: #00284D;
  padding: 8px 16px 8px 24px;
  a
    height: 100%;
    transition: padding 0.3s;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-image: url('../assets/logo1.png');
    background-repeat: no-repeat;
    background-size: 117px 48px;
.header
  height: 64px;
  padding: 0 12px 0 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
.trigger
  font-size: 20px;
  padding: 0 24px;
  cursor: pointer;
  position: relative;
  top: 3px;
.right
  float: right;
  height: 100%;
  padding-right: 24px;
  .action
    cursor: pointer;
    padding-left: 20px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
  i
    font-size: 20px;
  .top
    position: relative;
    top: 3px;
  .avatar
    margin-right: 5px;
    background-color: #87d068;
.menu
  li
    font-size: 14px;
    a
      font-size: 14px;
    :global i.anticon
      margin-right: 4px;
.header_page
  background: #fff;
  padding: 16px 32px 0;
  border-bottom: 1px solid #e8e8e8;
  .mt_16
    margin-bottom: 16px;
