.searchList
  background-color: #fff;
  padding: 15px 10px 15px 24px;
.cardList
  margin-top: 10px;
  :global .ant-card-head-title
    color: #1890ff;
    cursor: pointer;
.customer-detail
  .title
    height: 66px;
    line-height: 66px;
    background-color: #fff;
    padding: 0 24px;
  .con
    background-color: #fff;
.basic-info
  padding: 10px 30px 30px;
.mt25
  margin-bottom: 30px;
