.title
  height: 60px;
  background-color: #fff;
  font-size: 16px;
  line-height: 60px;
  padding-left: 22px;
  border-bottom: 1px solid #eee;
.steps
  height: 82px;
  padding: 25px 60px;
  background-color: #fff;
.content
  margin-top: 25px;
  min-height: 300px;
  padding: 70px 20px 20px;
  background-color: #fff;
